<!-- <ng-container *ngIf="isHandset$ | async">
    <app-progress></app-progress>
</ng-container> -->
<ng-container>
<div class="mytopcontainer">


    <!-- <div class="form-check">
          <input class="form-check-input" type="checkbox" (change)="selectAll()" [checked]="selectedAll">
          <label class="form-check-label">
            Select All
          </label>
        </div>
        <div class="form-check" *ngFor="let n of sections">
          <input class="form-check-input" type="checkbox" value="{{n.name}}" [(ngModel)]="n.selected"
            (change)="checkIfAllSelected()">
          <label class="form-check-label">
            {{n.name}}
          </label>
        </div>
        <mat-divider></mat-divider> -->
    <form [formGroup]="pmForm">
        <div class="row">
           
            <div class="col-1">
                Select Region
                <select name="pm" class="form-control  form-control-sm" formControlName="region">
                    <option *ngFor="let reg of apiserv.regions " [value]="reg.code"><small>{{ reg.text }}</small>
                    </option>
                </select>
            </div>
            
            <div class="col-1">
                Select Project Mgr
                <select name="pm" class="form-control  form-control-sm" formControlName="pm">
                    <option *ngFor="let perc of pmlist" [value]="perc"><small>{{ perc }}</small></option>
                </select>
            </div>
            <div class="col-1">
                Select Accountant
                <select name="pm" class="form-control  form-control-sm" formControlName="acc">
                    <option *ngFor="let perc of acclist" [value]="perc"><small>{{ perc }}</small></option>
                </select>
            </div>
            <div class="col-1">
                Select by Phase
                <select name="pm" class="form-control  form-control-sm" formControlName="phase">
                    <option *ngFor="let phase of phaselist" [value]="phase.code"><small>{{ phase.text }}</small></option>
                </select>
            </div>
            <!-- <div class="col-1 text-right">Search</div> -->
            <div class="col-3">
                Search
                <small>
                    <input class="form-control" type="text" [(ngModel)]="searchbox" [ngModelOptions]="{standalone: true}">
                </small>
               
            </div>
            <div class="col-1">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" (change)="selectOpen()" [checked]="filteropen">
                    <label class="form-check-label">
                        Hide Closed
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" (change)="narrowDisplay()" [checked]="narrow">
                    <label class="form-check-label">
                        Narrow Display
                    </label>
                </div>
            </div>
            <div class="col-1">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" (change)="selectTracked()" [checked]="tracked">
                    <label class="form-check-label">
                        Tracked Only
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" (change)="selectUnlinked()" [checked]="filtercip">
                    <label class="form-check-label">
                        No Ciplines
                    </label>
                </div>
                

            </div>
            <div class="col-2 d-flex justify-content-around">
                <button type="button" class="btn btn-sm btn-success" (click)="exportexcel()">Export to Excel</button>
                <button type="button" [ngClass]="sections ? 'btn btn-sm btn-danger': 'btn btn-sm btn-primary'"
                    (click)="toggleView()">{{btntitle}}</button>
            </div>
        </div>
    </form>
</div>
<div class="mycontainer">
    <div class="row">
        <div class="col-12">
            <ng-container>
                <table class="table table-striped " id="progress">
                    <thead>
                        <tr>
                            <th class="text-center" style="background-color:azure;"><small>Project_WBS</small></th>
                            <th class="text-left" style="width:65px;background-color:azure;"><small>Oneview</small></th>
                            <ng-container *ngIf="!narrow">   
                            <th class="text-left" style="background-color:azure;"><small>Known As</small>
                            </th>
                            <th class="text-left" style="background-color:azure;"><small>Title</small></th>
                            </ng-container>
                            <th class="text-center" style="width:50px;background-color:azure;">
                                <small>SAP Status</small>
                            </th>
                            <th class="text-center"><small>Phase</small></th>
                            <th class="text-center"><small>Absa Phase</small></th>
                            <th class="text-center"><small>Initiative</small></th>
                            <th class="text-center"><small>Budget <br> Group</small></th>
                            <th class="text-center"><small>Tracker <br> Code</small></th>
                            <th class="text-center"><small>CipCode</small></th>
                            <th class="text-center"><small>Approval <br> Status</small></th>
                            <th class="text-center"><small>Forecast <br> Start</small></th>
                            <th class="text-center"><small>Forecast <br>End</small></th>
                            <ng-container *ngIf="sections">
                                <th class="text-center"><small>POC </small></th>
                                <th class="text-center"><small>Billing </small></th>
                            </ng-container>
                            <th class="text-center"><small>Cashflow <br>End</small></th>
                            <th class="text-center"><small>Progress</small></th>
                            <ng-container *ngIf="!sections">
                              
                                <th class="text-center"><small>Initiate</small></th>
                                <th class="text-center"><small>Scope</small></th>
                                <th class="text-center"><small>OHS <br> Clearance</small></th>
                                <th class="text-center"><small>PO <br> Approval</small></th>
                                <th class="text-center"><small>Lead in</small></th>
                                <th class="text-center"><small>On Site</small></th>
                                <th class="text-center"><small>PoC</small></th>
                                <th class="text-center"><small>Bill</small></th>
                                <th class="text-center"><small>CashFlow</small></th>
                            </ng-container>
                            <ng-container *ngIf="sections">
                                <th class="text-center"><small>Cipline <br> Value</small></th>
                                <th class="text-center"><small>Approved <br>Amt Incl</small></th>
                                <th class="text-center"><small>PO Value <br> Incl</small></th>
                                <th class="text-center"><small>SAP Incl<br> Budget</small></th>
                                <th class="text-center"><small>Contingency<br>Vat Incl</small></th>
                                <th class="text-center"><small>Costs <br> Incl</small></th>
                                <th class="text-center"><small>Travel <br> Incl</small></th>
                                <th class="text-center"><small>Commitments <br> Incl</small></th>
                                <th class="text-center"><small>Revenue <br> Incl</small></th>
                                <th class="text-center"><small>M-Fee <br> Incl</small></th>
                                <th class="text-center"><small>Total Revenue
                                     <br> Incl</small></th>
                            </ng-container>
                            <th class="text-center"><small>Region</small></th>
                                <th class="text-center"><small>PM</small></th>  
                                <th class="text-center"><small>Last Progress Tracker Comment</small></th>  
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let item of searchlistnew | searchpipe: [searchbox, 'tag']; let i = index;">

                            <ng-container>
                                <td [ngClass]="item.multisite  ? 'multisite' : 'readonly'" (click)="goTo(item)">
                                    <small>{{item.PROJLINK > 'A' ? item.PROJLINK:item.ABSAREQNO}}</small>
                                </td>
                                <td><small  (click)="goTo(item)">{{item.ONEVIEW}}</small></td>
                                <ng-container *ngIf="!narrow">  
                                <td  (click)="goTo(item)" style="background-color:azure;"><small>{{item.KNOWNAS.substring(0,60)}}</small></td>
                                <td  (click)="goTo(item)"><small>{{item.TITLE}}</small></td>
                                </ng-container>
                                <td  (click)="goTo(item)"><small>{{item.STATUS}}</small></td>
                                <td  (click)="goTo(item)"><small>{{item.PHASE}}</small></td>
                                <td  (click)="goTo(item)"><small>{{item.ABSAPHASE}}</small></td>
                                <td><small>{{item.INITIATIVE}}</small></td>
                                <td><small>{{item.BUDGETGROUP}}</small></td>
                                <td  (click)="goTo(item)" [ngClass]="item.TRACKERCODE < 'A'? 'text-center ':'text-center focus'">
                                    <small>{{item.TRACKERCODE}}</small></td>
                                <td><small>{{item.CIPCODE}}</small></td>
                                <td><small  (click)="showApproval(item)">{{item.APPROVAL_STATUS}}</small></td>
                                <td>{{item.DATE06}}</td>
                                <td>{{item.DATE07}}</td>
                                <ng-container *ngIf="sections">
                                    <td>{{item.DATE08}}</td>
                                    <td>{{item.DATE09}}</td>
                                </ng-container>
                                <td [ngClass]="item.PHASE < 'PHASE11'&& item.DATE10 < todaydate? 'text-center late':
                                 item.PHASE > 'PHASE10'? 'text-center done' : 'text-center todo'"> {{item.DATE10}}
                                </td>
                                <td> <button class="btn btn-sm btn-primary btn-block" type="button" (click)="showProgress(item)">
                                    <small>{{progressCalc(item)+ '%'}}</small></button></td>
                                <ng-container *ngIf="!sections">
                                    <td
                                        [ngClass]="item.PROG02==100 ? 'text-center done' : item.PROG02==0  ?'text-center todo': 'text-center busy'">
                                        {{item.PROG02}}</td>
                                    <td
                                        [ngClass]="item.PROG03==100 ? 'text-center done' : item.PROG03==0  ?'text-center todo': 'text-center busy'">
                                        {{item.PROG03}}</td>
                                        <td
                                        [ngClass]="item.PROG04==100 ? 'text-center done' : item.PROG04==0  ?'text-center todo': 'text-center busy'">
                                        {{item.PROG04}}</td>
                                    <td
                                        [ngClass]="item.PROG05==100 ? 'text-center done' : item.PROG05==0  ?'text-center todo': 'text-center busy'">
                                        {{item.PROG05}}</td>
                                    <td
                                        [ngClass]="item.PROG06==100 ? 'text-center done' : item.PROG06==0  ?'text-center todo': 'text-center busy'">
                                        {{item.PROG06}}</td>
                                    <td
                                        [ngClass]="item.PROG07==100 ? 'text-center done' : item.PROG07==0  ?'text-center todo': 'text-center busy'">
                                        {{item.PROG07}}</td>
                                    <td
                                        [ngClass]="item.PROG08==100 ? 'text-center done' : item.PROG08==0  ?'text-center todo': 'text-center busy'">
                                        {{item.PROG08}}</td>
                                    <td
                                        [ngClass]="item.PROG09==100 ? 'text-center done' : item.PROG09==0  ?'text-center todo': 'text-center busy'">
                                        {{item.PROG09}}</td>
                                    <td
                                        [ngClass]="item.PROG10==100 ? 'text-center done' : item.PROG10==0  ?'text-center todo': 'text-center busy'">
                                        {{item.PROG10}}</td>
                                </ng-container>
                                <ng-container *ngIf="sections">
                                    <td class="text-right odd">{{formatNumber(item.CIPBUDGET)}}</td>
                                    <td class="text-right odd">{{formatNumber(item.BASELINEBUDGET)}}</td>
                                    <td class="text-right odd">{{formatNumber(item.POVALUE)}}</td>
                                    <td class="text-right odd">{{formatNumber(item.BUDGET)}}</td>
                                    <td class="text-right odd">{{formatNumber(item.CONTINGENCY)}}</td>
                                    <td class="text-right odd">{{formatNumber(item.COSTS)}}</td>
                                    <td class="text-right odd">{{formatNumber(item.TRAVEL )}}</td>
                                    <td class="text-right odd">{{formatNumber(item.COMMITMENT )}}</td>
                                    <td class="text-right odd">{{formatNumber(item.REVENUE)}}</td>
                                    <td class="text-right odd">{{formatNumber(item.M_FEE)}}</td>
                                    <td class="text-right odd">{{formatNumber(item.REVENUE + item.M_FEE)}}</td>
                                </ng-container>

                                <!-- <ng-container *ngIf="item.PHASE > 'PHASE02'">
                                    <td style="background-color:rgb(238, 248, 248);"><select class="smallinput"
                                            name="scope{{i}}" (change)="newValue($event,i, item)"
                                            [(ngModel)]="item.PROG03" [disabled]="item.PHASE!=='PHASE03'">
                                            <option *ngFor="let perc of apiserv.scopes" [value]="perc.code">{{ perc.text
                                                }}</option>
                                        </select></td>
                                </ng-container>


                                <ng-container *ngIf="item.PHASE > 'PHASE03'">
                                    <td style="background-color:rgb(238, 248, 248);"><select class="smallinput"
                                            name="scope{{i}}" (change)="newValue($event,i, item)"
                                            [(ngModel)]="item.PROG04" [disabled]="item.PHASE!=='PHASE04'">
                                            <option *ngFor="let perc of apiserv.approvals" [value]="perc.code">{{
                                                perc.text }}
                                            </option>
                                        </select></td>
                                </ng-container>




                                <ng-container *ngIf="item.PHASE > 'PHASE04'">
                                    <td style="background-color:rgb(238, 248, 248);"><select class="smallinput"
                                            name="scope{{i}}" (change)="newValue($event,i, item)"
                                            [(ngModel)]="item.PROG05" [disabled]="item.PHASE!=='PHASE05'">
                                            <option *ngFor="let perc of apiserv.scopes" [value]="perc.code">{{ perc.text
                                                }}</option>
                                        </select></td>
                                </ng-container>

                                <ng-container *ngIf="item.PHASE > 'PHASE05'">
                                    <td style="background-color:rgb(238, 248, 248);"><select class="smallinput"
                                            name="scope{{i}}" (change)="newValue($event,i, item)"
                                            [(ngModel)]="item.PROG06" [disabled]="item.PHASE!=='PHASE06'">
                                            <option *ngFor="let perc of apiserv.scopes" [value]="perc.code">{{ perc.text
                                                }}</option>
                                        </select></td>
                                </ng-container>

                                <ng-container *ngIf="item.PHASE > 'PHASE06'">
                                    <td style="background-color:rgb(238, 248, 248);"><select class="smallinput"
                                            name="scope{{i}}" (change)="newValue($event,i, item)"
                                            [(ngModel)]="item.PROG07" [disabled]="item.PHASE!=='PHASE07'">
                                            <option *ngFor="let perc of apiserv.scopes" [value]="perc.code">{{ perc.text
                                                }}</option>
                                        </select></td>
                                </ng-container>


                                <ng-container *ngIf="item.PHASE > 'PHASE07'">
                                    <td style="background-color:rgb(238, 248, 248);"><select class="smallinput"
                                            name="scope{{i}}" (change)="newValue($event,i, item)"
                                            [(ngModel)]="item.PROG08" [disabled]="item.PHASE!=='PHASE08'">
                                            <option *ngFor="let perc of apiserv.scopes" [value]="perc.code">{{ perc.text
                                                }}</option>
                                        </select></td>
                                </ng-container>

                                <ng-container *ngIf="item.PHASE > 'PHASE08'">
                                    <td style="background-color:rgb(238, 248, 248);"><select class="smallinput"
                                            name="scope{{i}}" (change)="newValue($event,i, item)"
                                            [(ngModel)]="item.PROG09" [disabled]="item.PHASE!=='PHASE09'">
                                            <option *ngFor="let perc of apiserv.scopes" [value]="perc.code">{{ perc.text
                                                }}</option>
                                        </select></td>
                                </ng-container>


                                <ng-container *ngIf="item.PHASE > 'PHASE09'">
                                    <td style="background-color:rgb(238, 248, 248);"><select class="smallinput"
                                            name="scope{{i}}" (change)="newValue($event,i, item)"
                                            [(ngModel)]="item.PROG10" [disabled]="item.PHASE!=='PHASE10'">
                                            <option *ngFor="let perc of apiserv.scopes" [value]="perc.code">{{ perc.text
                                                }}</option>
                                        </select></td>
                                </ng-container> -->
                            </ng-container>
                            <td class="text-center"><small>{{item.REGION}}</small></td>
                            <td class="text-center"><small>{{item.PMANAGER}}</small></td>  
                            <td class="text-center"><small>{{item.TRACKNOTE.substring(0,60)}}</small></td>  
                        </tr>
                    </tbody>
                </table>
            </ng-container>
        </div>
    </div>
</div>
</ng-container>