.tableFixHead          { overflow: auto; height: 5500px; width: 100vw; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; background-color: lightgrey; }
.tableFixHead tbody th { position: sticky; left: 0; }
.smallinput {
    font-size: 12px;
    border:none;
    width:100%;
    
}
.alert1 {
    color: red ;
}
.normal {
    color: black ;
}
td {
    padding:2px;
    border-bottom: 1px solid rgb(159, 159, 160);
    min-width:80px;
}
th { position: sticky; top: 0; z-index: 1; background-color: lightgrey; }

th.text-center {
    padding-top: 4px;
    padding-bottom: 4px;
}
th small {
    font-weight: 600;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.searchbox {
    border-bottom: 1px solid black;
    margin-top: 15px ;
    z-index: 100 ;
    background-color: aliceblue;
  }
  .mycontainer {
    padding:7px;
  }
  .mycontainer {
    padding: 20px;
    height: 85vh;
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow: auto;
    white-space: nowrap;
  }
  .mytopcontainer {
    padding: 20px;
    height: 65px;
    display: block;
    width: 100%;
    margin: 0 auto;
    overflow-y: none;
    white-space: nowrap;
  }
  .multisite{
   background-color:red;
  }
  .multisite2{
    background-color:azure;
  }

  table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .busy {
    background-color: orange;
  }
  .done {
    background-color: rgb(111, 255, 111);
  }
  .todo {
    background-color: white;
  }

  .late {
    background-color: red;
    color: white ;
  }
  .even {
    background-color: lightblue;
  }
  .odd {
    background-color: lightgray;
    padding-left: 6px;
    padding-right: 6px;
  }
  .focus{
    background-color: rgb(236, 148, 15);
  }
  .btn-sm{
    padding: 1px 1px 1px 1px;
    font-size: 0.8rem;
  }
  .fixed {
    position: absolute;
    width:100px;
    left: 0;
    background: #aaa;
}
th:first-child, td:first-child
{
  position:sticky;
  left:0px;
 background-color: whitesmoke;
}
.second-col
{
  position:sticky;
  left:60px;
 background-color: whitesmoke;
}
.third-col
{
  position:sticky;
  left:160px;
 background-color: whitesmoke;
}