<div class="row">
<div class="col-8">
    <table class="table table-bordered table-compact table-striped">
        <tr>
           <th>
       Site
           </th>
           <th colspan="3">
       Known As
           </th>
           <th>
       Planned Start 
           </th>
           <th>
       Planned End
           </th>
           <th>Budget</th>
        </tr>   
        <tr *ngFor="let item of multisites; let i = index">
           <td ><input type="text" class="smallinput"  name="oneview{{i}}"
               (change)="newValue($event,i, item)" [(ngModel)]="item.oneview"></td>
           <td colspan="3"><input type="text" class="smallinput"  name="knownas{{i}}"
               (change)="newValue($event,i, item)" [(ngModel)]="item.knownas"></td>
               <td ><input type="date" class="smallinput"  name="startdate{{i}}"
                   (change)="newValue($event,i, item)" [(ngModel)]="item.startdate"
                   (ngModel)="item.startdate"></td>
                   <td ><input type="date" class="smallinput"  name="enddate{{i}}"
                       (change)="newValue($event,i, item)" [(ngModel)]="item.enddate"></td>
               <td ><input type="text" class="smallinput"  name="budget{{i}}"
                (change)="newValue($event,i, item)" [(ngModel)]="item.budget"></td>
              <td> <span class="remove" (click)="removeSite(i)"><b>X</b></span></td>
        </tr>
        <tr>
           <td colspan="3">
               <button type="button" class="btn btn-sm btn-secondary" (click)="addaSite()">+ Add a Site</button>
           </td>
        </tr>
       </table>
</div>
<div class="col-4">
    <div>Cut and Paste:</div>
    <textarea class="form-control" rows="5" [(ngModel)]="importsitearea"></textarea>
    <div class="d-flex justify-content-around">
        <button type="button" (click)="importSites()">Import</button>
        <button type="button" (click)="Helpimport = true">Help?</button>
    </div>
    <div *ngIf="Helpimport" style="background-color: coral;">
        <h3>Copy from Excel with Columns</h3> 
           <ul>
            <li>Oneview number </li>
            <li>Budget Amount</li>
            <li>Known as - can be left blank</li>
            <li>Proposed Start - In yyyy-mm-dd format or blank</li>
            <li>Proposed End - In yyyy-mm-dd format or blank</li>
            
           </ul>            

        <div class="text-center">
            <button type = "button" class="btn btn-sm btn-success" (click)="Helpimport = false">Close this help</button>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="d-flex justify-content-center">
        <button type = "button" (click) = "updateSap()">Update SAP</button>
    </div>
</div>

