<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
               <h2>Logging In </h2> 
                </div>
                <div class="card-body" style="height:200px;">
                    <a href="https://internal.bidvestfm.co.za/Projects/learnbyvideo/login_email.html" target="_blank"> 
                          <img src="..\..\assets\worklist.png" style=" padding:5px; width:100%" />
</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                  <h2> Using the Worklist</h2> 
                </div>
                <div class="card-body" style="height:200px;">
                    <a href="https://internal.bidvestfm.co.za/Projects/learnbyvideo/first_screens.html" target="_blank">
                    <img src="..\..\assets\worklist.png" alt="" srcset="">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Video on 3
                </div>
                <div class="card-body"  style="height:200px;">
                    <img src="..\..\assets\worklist.png" alt="" srcset="">

                </div>
            </div>
        </div>
    </div>
</div>
