
<div class="mycontainer">
    <div class="row">
     
            <div class="col-12">

<div class="row">
                
                                  
                                    <div class="col-1 text-right pr-2">
                                            <small>Free search</small>
                                    </div>
                                    <div class="col-5">
                                            <input class="form-control  form-control-sm " type="text" id="searchbox"
                                                    [(ngModel)]="searchbox" [ngModelOptions]="{standalone: true}">
                                    </div>

                                    <div class="col-1">
                                            <button type="button" class="btn btn-sm btn-success"
                                                    (click)="exportexcel()">
                                                    Export to Excel
                                            </button>
                                    </div>
                                </div>
           
   

                    <table class="table table-bordered" id="doclist">
                            <tr>

                                    <th class="text-center"><small style="font-weight: bold;">Project</small></th>
                                    <!-- <th class="text-center"><small style="font-weight: bold;">Region</small></th> -->
                                    <th class="text-center"><small style="font-weight: bold;">Created </small></th>

                                    <th style="background-color:rgb(114, 171, 251);" class="text-center"><small
                                                    style="font-weight: bold;">SAP Title</small></th>
                                    <th style="background-color:rgb(114, 171, 251);" class="text-center"><small
                                                    style="font-weight: bold;">Clear Date</small></th>
                                    <th style="background-color:rgb(114, 171, 251);" class="text-center"><small
                                                    style="font-weight: bold;">SAP Status</small></th>

                                    <th style="background-color:rgb(114, 171, 251);" class="text-center"><small
                                                    style="font-weight: bold;">Tracker Ref</small></th>
                                    <th style="background-color:rgb(114, 171, 251);" class="text-center"><small
                                                    style="font-weight: bold;">Tracker Phase</small></th>
                                                                   

                            </tr>


                            <tr *ngFor="let checkview of searchlistnew  | searchpipe: [searchbox, 'tag']">
                                    <td ><small>{{checkview.PSPID}}</small></td>
                                    <td ><small>{{checkview.ERDAT}}</small></td>
                                    <td ><small>{{checkview.POST1}}</small></td>
                                    <td ><small>{{checkview.AUGDT}}</small></td>
                                    <td ><small>{{checkview.STATUS}}</small></td>
                                    <td ><small>{{checkview.ABSAREQNO}}</small></td>
                                    <td ><small>{{checkview.PHASE}}</small></td>
                               
                            </tr>
                    </table>
            </div>
            </div>
    </div>


