<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="opened">
      <mat-toolbar>Menu</mat-toolbar>
      
      <mat-nav-list>
        <mat-list-item [routerLink]="['worklist']">
          <mat-icon>dashboard</mat-icon><span>Worklist</span>
      </mat-list-item>
      
      <mat-list-item [routerLink]="['dashboard']">
        <mat-icon>dashboard</mat-icon><span>Dashboard</span>
    </mat-list-item>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
         <mat-expansion-panel-header>
          <mat-icon>dashboard</mat-icon>- Mass Edit
        </mat-expansion-panel-header>
        <mat-nav-list>
         
        <!-- <a mat-list-item [routerLink]="['massprogress']">
          <mat-icon>create</mat-icon><span>Mass Edit Progress</span>
      </a>    
    <a mat-list-item [routerLink]="['massapprovals']">
      <mat-icon>create</mat-icon><span>Mass Approvals</span>
  </a> -->
  <mat-list-item [routerLink]="['massfund']">
    <mat-icon>create</mat-icon><span>Mass Edit Funding</span>
</mat-list-item>
 
        </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel [class.mat-elevation-z0]="true">
      <mat-expansion-panel-header>
       <mat-icon>dashboard</mat-icon>- Focus Lists
     </mat-expansion-panel-header>
     <mat-nav-list>
       <a mat-list-item [routerLink]="['approvals']">
         <mat-icon>create</mat-icon><span>Approval Crosscheck</span>
     </a>
     <a mat-list-item [routerLink]="['cashflow']">
       <mat-icon>create</mat-icon><span>Cashflow Base</span>
   </a>    
     <a mat-list-item [routerLink]="['debtors']">
       <mat-icon>create</mat-icon><span>Debtors</span>
   </a>    
 <a mat-list-item [routerLink]="['mvtdocs']">
   <mat-icon>create</mat-icon><span>View Movements</span>
</a>
<a mat-list-item [routerLink]="['sapcheck']">
  <mat-icon>create</mat-icon><span>SAP Compare</span>
</a>

     </mat-nav-list>
 </mat-expansion-panel>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
            Budget
        </mat-expansion-panel-header>
        <mat-nav-list>
         
        <a mat-list-item [routerLink]="['cipfund']">
          <mat-icon>playlist_add_check</mat-icon><span>Recon of Cip Budget</span>
      </a>
      <a mat-list-item [routerLink]="['budgetedit']">
        <mat-icon>playlist_add_check</mat-icon><span>Create Budget line</span>
    </a>
    <a mat-list-item [routerLink]="['budget']">
      <mat-icon>create</mat-icon><span>Old View Budget</span>
  </a>
        </mat-nav-list>
    </mat-expansion-panel>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
          <mat-expansion-panel-header>
              Requirements
          </mat-expansion-panel-header>
          <mat-nav-list>
           
              <a mat-list-item [routerLink]="['relink/requestedit~0']">
                  <mat-icon>create</mat-icon><span>New Requirement</span>
              </a>
             
          </mat-nav-list>
      </mat-expansion-panel>

<mat-divider></mat-divider>
    <mat-expansion-panel [class.mat-elevation-z0]="true">
      <mat-expansion-panel-header>
          Projects
      </mat-expansion-panel-header>
      <mat-nav-list>
          <a mat-list-item [routerLink]="['projectlist']">
              <mat-icon>people</mat-icon><span>Project by PM</span>
          </a>
          <a mat-list-item [routerLink]="['project_list']">
              <mat-icon>location_searching</mat-icon><span> National Projects</span>
          </a>
       
      </mat-nav-list>
  </mat-expansion-panel>
  <mat-divider></mat-divider>
  <mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>
        Mass Imports
    </mat-expansion-panel-header>
    <mat-nav-list>
         <a mat-list-item [routerLink]="['imports']">
          <mat-icon>location_searching</mat-icon><span> Mass Imports</span>
      </a>
      <a mat-list-item [routerLink]="['import/APPROVE']">
        <mat-icon>location_searching</mat-icon><span> Approval File</span>
    </a>
    <a mat-list-item [routerLink]="['import/PORDERS']">
      <mat-icon>location_searching</mat-icon><span> PO List File</span>
  </a>
    </mat-nav-list>
</mat-expansion-panel>
<mat-expansion-panel [class.mat-elevation-z0]="true">
  <mat-expansion-panel-header>
      Help
  </mat-expansion-panel-header>
  <mat-nav-list>
   
      <a mat-list-item [routerLink]="['docs']">
          <mat-icon>create</mat-icon><span>Documents</span>
      </a>
      <a mat-list-item [routerLink]="['videos']">
        <mat-icon>create</mat-icon><span>Video</span>
    </a>
     
  </mat-nav-list>
</mat-expansion-panel>
<mat-expansion-panel *ngIf="authserv.currentUserValue && authserv.currentUserValue['DATABAG']?.includes('ADMIN')" [class.mat-elevation-z0]="true">
  <mat-expansion-panel-header>
      Admin
  </mat-expansion-panel-header>
  <mat-nav-list>
   
      <a mat-list-item [routerLink]="['admin']">
          <mat-icon>create</mat-icon><span>Json Debug</span>
      </a>
      <a mat-list-item [routerLink]="['help']">
        <mat-icon>create</mat-icon><span>Help</span>
    </a>
    <a mat-list-item [routerLink]="['issues']">
      <mat-icon>create</mat-icon><span>Issues</span>
  </a>    
  </mat-nav-list>
</mat-expansion-panel>
      <!-- <div *ngIf="apiserv.menu">
      <a mat-list-item [routerLink]="['home']">Active Projects</a>
      <a mat-list-item [routerLink]="['approlist']">Appropriation Requests</a> 
      <a mat-list-item [routerLink]="['requestlist']">Absa Requests</a>
      <a mat-list-item [routerLink]="['request']">New Absa Request</a>
    
      
    </div><mat-divider></mat-divider> -->
    <!--   <div *ngIf="apiserv.menu">
      <a mat-list-item [routerLink]="['admin']">Lookups</a>
      <a mat-list-item [routerLink]="['funding']">Funding</a>
      <a mat-list-item [routerLink]="['transfer']">Budget Adjustment</a>
    <a mat-list-item [routerLink]="['approlist']">Appropriation Requests</a> -->
      <!-- <a mat-list-item [routerLink]="['requestlist']">User Admin</a>
      <a mat-list-item [routerLink]="['request']">User Roles</a> 
    
    </div>-->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- <p><button mat-button (click)="drawer.toggle()">sidenav.toggle()</button></p> -->
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async) || !opened">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
  
      <span>Project and Budget Tracker-{{sectionNameBS | async}}</span>
    
        <span *ngIf="authserv.loggedinBS | async" (click)="logout()" class="signature">{{sapuser}} <mat-icon >exit_to_app</mat-icon></span>
        <span *ngIf="!authserv.loggedinBS | async" (click)="login()"  >Login<mat-icon class="inout">exit_to_app</mat-icon></span>

     
    </mat-toolbar>
    <!-- Add Content Here -->
  
    <div *ngIf="apiserv.loadingBS | async" class="d-flex justify-content-center" style="background-color: rgb(255, 67, 10);">
      <mat-spinner diameter="15" color="white">.</mat-spinner>
    </div>
      <router-outlet></router-outlet> 

  <!-- <div *ngIf="!authserv.loggedin"> 
    <app-login></app-login>
</div>  -->

    
  </mat-sidenav-content>
</mat-sidenav-container>



