<div style="height:100%;">
  <div *ngIf="apiserv.loading" class="d-flex justify-content-center">
    <mat-spinner>Hey</mat-spinner>
  </div>
  <div class="card">
      <div class="row">
        <div class="col-6">
          <h2>Fund Planner</h2>
        </div>
        <div class="col-4 offset-1">
          <button type="button" class="btn btn-sm btn-outline-success" (click)="showHelp()">{{helptext}}</button>
        </div>
      </div>

    <div class="mycontainer">
      <form [formGroup]="fundingForm" (ngSubmit)="onSubmit()">
        <table class="table">
          <!-- <tr>
              <td>
                Current or Deferred
              </td>
              <td colspan="2">
                <select class="form-control" formControlName="defer">
                  <option [ngValue]="'C'"> Current</option>
                  <option [ngValue]="'D'"> Deferred</option>
                  <option [ngValue]="'U'"> Unsure</option>
                </select>
              </td>

              <td *ngIf="true">
                Deferred year
              </td>
              <td colspan="2"> <select class="form-control" formControlName="deferyear">
                  <option [ngValue]="'2020'"> 2020</option>
                  <option [ngValue]="'2021'"> 2021</option>
                  <option ngValue="2022"> 2022</option>
                </select>
              </td>
            </tr> -->
          <tr>
            <td>
              Funding Initiative
            </td>
            <td colspan="2">
              <div class="row">
                <div class="col-8"><input type="text" class="form-control" formControlName="initiative"></div>
                <div class="col-4" *ngIf="!fundingForm.value.initiative">
                    <button type="button" class="btn btn-sm btn-danger" (click)="fundLocator()">Fund Locator
                    </button>
                  </div>
              </div>
            </td>
            <td>
              Budget Group
            </td>
            <td colspan="2">
              <div class="row">
                <div class="col-8">
                <select class="form-control" formControlName="budgetprogram">
                  <option *ngFor="let grouper of apiserv.budgetgroups" [value]="grouper">{{grouper}}</option>
                </select>
                </div>
              </div>
            </td>
            <!-- <td colspan="2"> <button type="button" class="btn btn-sm btn-outline-success" (click)="showHelp()">{{helptext}}</button></td> -->
          </tr>
          <tr>
            <td>Cip Group</td>
            <td colspan="2"><select formControlName="cipgroup" placeholder="Select a Line" class="form-control">
                <option [value]="''">Select an Option</option>
                <option *ngFor="let groupoption of apiserv.cipgroups" [value]="groupoption.code">
                  {{groupoption.text }}
                </option>
              </select>
            </td>
            <td>Cip Code</td>
            <td colspan="2">
              <select formControlName="cipcode" placeholder="Select a Line" class="form-control">
                <option [value]="''">Select an Option</option>
                <option *ngFor="let groupline of apiserv.cipcodes" [value]="groupline.code">
                  {{groupline.text }}
                </option>
              </select>
            </td>
          </tr>
          <!-- <tr>
              <td colspan="1">Cip Description</td>
              <td colspan="5" style="background-color: aliceblue;">
              <input type="text" class="form-control" formControlName="cipname" [disabled]="true"> </td>
            </tr> -->
          <tr>

            <td>
              Opex Capex
            </td>
            <td colspan="2"> <select class="form-control" formControlName="capex_opex">
                <option [ngValue]="'U'"> Unsure</option>
                <option [ngValue]="'C'"> Capex</option>
                <option [ngValue]="'O'"> Opex</option>
              </select>
            </td>
            <td>Workstream</td>
            <td colspan="2">
              <!-- <input type="text" class="form-control" formControlName="workstream" [disabled]="true"> -->
              <select formControlName="workstream" placeholder="Select a Line" class="form-control">
                <option [value]="''">Select an Option</option>
                <option *ngFor="let groupline of apiserv.workstreams" [value]="groupline.code">
                  {{groupline.text }}
                </option>
              </select> 
            </td>
          </tr>
          <tr>
            <td>
              Pre-Approval Budget
            </td>
            <td colspan="2"><input type="number" class="form-control" formControlName="estimatedbudget"></td>

            <td>
              Tracker Code
            </td>
            <td colspan="2">
              <select formControlName="trackercode" placeholder="Select a Line" class="form-control">
                <option [value]="''">Not Tracked</option>
                <option  value="CIP2023XP">
                  CIP2023XP
                </option>
              </select> 
              <!-- <input type="number" class="form-control" formControlName="trackercode"></td> -->
          </tr>

        </table>

        <div formArrayName="fundersg" *ngFor="let funder of funding.controls; let i = index">
          <div class="row" [formGroupName]="i">
            <div class="col-2">Position</div>
            <div class="col-5">
              <input class="form-control" placeholder="Funder..." formControlName="funderposition" id="{{'im' + i}}">
            </div>
            <!-- <div class="col-2">Amount</div> -->
            <div class="col-4">
              <input type="text" class="form-control" placeholder="Amount" formControlName="amount" id="{{'amt' + i}}">
            </div>
            <span class="remove" (click)="removeFunder(i)"><b>X</b></span>
          </div>
        </div>
        <div  class="row d-flex justify-content-around">
          <button [disabled]="false" type="button" class="btn btn-sm btn-success" (click)="sendTask()">Send Task</button>
          <button [disabled]="true" type="button" class="btn btn-sm btn-danger" >Generate new initiative</button>
        </div>
        
      </form>
      <ng-container *ngIf="help">
      <div style="padding:15px;">
        <quill-view [content]="mytext" format="text" theme="snow"></quill-view>
      </div>
    </ng-container>
    </div>

    <div class="card-footer text-center">
      <button *ngIf="checkReady('save')" type="button" class="btn btn-sm btn-primary" (click)="onSubmit()">
        Save
      </button>
    </div>
<!-- <app-fundcipline></app-fundcipline> -->
  </div>
  <div>

  </div>

</div>

<jw-modal id="taskedit">
  <div class="row" style="height:600px">
    <div class="col-10 offset-1">
     <app-task-edit [events]="eventsSubject.asObservable()" [task]="task"  (someChange)="taskClose()"></app-task-edit>
    </div>

  </div>

</jw-modal>

<jw-modal id="helpfund">
  <div class="row" style="height:600px">
    <div class="col-10 offset-1">
      <img src="..\..\assets\PSFunding.png" alt="" class="help">
    </div>

  </div>

</jw-modal>