<div class="d-flex justify-content-left">

    <div class="col-lg-8 col-md-10 col-sm-11 offset-lg-2 offset-md-1 offset-sm-1">

      <form  #approvalForm="ngForm" (ngSubmit)="onSubmit()">
        <div style="height:100%;">

          <div class="card">
            <table class="table table-striped">

                <tr style="background-color:rgb(240,240,240)">
                  <td colspan="7" style="background-color: #f8fbfc;">
                    <div class="d-flex justify-content-between">
                      <b>Planning</b>
                      <!-- <button type="button" (click)="open(datemodal)"
                        class="btn btn-sm btn-outline-primary ml-4">Date
                        Planning</button> -->
                    </div>
                  </td>
                </tr>

                <tr>

                  <td colspan="1">
                    Assign PM
                  </td>
                  <td colspan="2" style="font-size:0.8rem;">
                    <input class="form-control" name="pmanager" [(ngModel)]="vm.PMANAGER">
                    <!-- <select class="form-control" name="pmanager" [(ngModel)]="vm.PMANAGER">
                      <option *ngFor="let perc of apiserv.pmlist$ | async" [value]="perc.B">{{ perc.D }}</option>
                    </select> -->
                  </td>
                  <td colspan="3">
                    <div class="row">
                      <div class="col-2">
                        Planning Status
                      </div>
                      <div class="col-3">
                        <select class="form-control" name="planstatus" [(ngModel)]="vm.PLANSTATUS" placeholder="Select a Line"
                          required>
                          <option value=""> Select current....</option>
                          <option value="na"> Not Assessed</option>
                          <option value="possible"> Possible</option>
                          <option value="possrollover"> Possible Rollover</option>
                          <option value="rollover"> Rollover</option>
                          <option value="posssurrender"> Possible Surrender</option>
                          <option value="surrender"> Surrender</option>
                        </select>
                      </div>
                      <div class="col-2">WBS:</div>
                      <div class="col-4"><input class="form-control" name="projlink" [(ngModel)]="vm.PROJLINK"></div>
                    </div>
                  </td>

                </tr >
                <ng-container id="approval">

                  <tr style="background-color:rgb(240,240,240)">
                    <td colspan="7" style="background-color: lightblue;">
                      <span ><b>Approval</b>
                      </span>
                    </td>
                  </tr>
                  <ng-container>
                    <tr>
                      <td>Approval Motivation</td>
                      <td colspan="3"><textarea rows="4" class="form-control"
                          name="APPROVAL_MOTIVATE" [(ngModel)]="vm.APPROVAL_MOTIVATE"></textarea></td>
                    </tr>
                    <tr style="background-color:rgb(240,240,240)">
                      <td>Submit for Approval Date</td>
                      <td>
                        <input type="date" class="form-control" name="APPROVAL_SUBMITDATE" [(ngModel)]="vm.APPROVAL_SUBMITDATE">

                      </td>
                      <td>Requested Amount </td>
                      <td >
                        <input type="number" class="form-control" name="BASELINEBUDGET" [(ngModel)]="vm.BASELINEBUDGET">
                      </td>

                      <td></td><td></td>
                    </tr>

                    <tr >
                      <td>Approval Date</td>
                      <td ><input type="date" class="form-control" name="APPROVAL_DATE" [(ngModel)]="vm.APPROVAL_DATE"></td>
                      <td>Approval Amount</td>
                      <td ><input type="number" class="form-control" name="APPROVED_AMT" [(ngModel)]="vm.APPROVED_AMT"></td>
                    </tr>
                    <tr style="background-color:rgb(240,240,240)">
                      <td>PO Date</td>
                      <td ><input type="date" class="form-control" name="PO_DATE" [(ngModel)]="vm.PODATE"></td>
                      <td>PO Amount</td><td class="form-control mt-1 ml-2 mr-2 ">{{(vm.POVALUE * 1.15 ).toFixed(2)}}</td>
                      <!-- <td ><input type="number" class="form-control" name="POVALUE" [(ngModel)]="vm.POVALUE"></td> -->
                      <td>Purchase Order</td>
                      <td ><input class="form-control" name="PONUMBER" [(ngModel)]="vm.PONUMBER"></td>
                    </tr>
                    <tr>
                      <td>Submitted to Absa legal</td>
                      <td ><input type="date" class="form-control" name="APPROVALTOLEGAL" [(ngModel)]="vm.APPROVALTOLEGAL"></td>
                      <td>Approved by Absa legal</td>
                      <td ><input type="date" class="form-control" name="APPROVEDBYLEGAL" [(ngModel)]="vm.APPROVEDBYLEGAL"></td>
                      <td></td> <td></td>
                      </tr>
                    <tr style="background-color:rgb(240,240,240)">
                      <td>Submitted to BFM legal</td>
                      <td ><input type="date" class="form-control" name="APPTOBFMLEGAL" [(ngModel)]="vm.APPTOBFMLEGAL"></td>
                      <td>Approved by BFM legal</td>
                      <td ><input type="date" class="form-control" name="APPBYBFMLEGAL" [(ngModel)]="vm.APPBYBFMLEGAL"></td>
                      <td></td> <td></td>
                  </tr>
                  <tr>
                      <td>Approval Status </td>
                      <td colspan="2">
                        <select class="form-control" name="APPROVAL_STATUS" [(ngModel)]="vm.APPROVAL_STATUS">
                          <option *ngFor="let approval of apiserv.approvals" [ngValue]="approval['code']">
                            {{approval.text}}</option>
                        </select>
                      </td>
                     
                    </tr>
                    <tr style="background-color:rgb(240,240,240)">
                      <td>Approval Note</td>
                      <td colspan="3"><textarea rows="4" class="form-control"
                          name="APPROVAL_NOTE" [(ngModel)]="vm.APPROVAL_NOTE"></textarea></td>
                    </tr>
                  </ng-container>
                </ng-container>

            </table>
            <div class="card-footer text-center">
              <button type="button" class="btn btn-sm btn-outline-primary" (click)="onSubmit()" [disabled]="!approvalForm.dirty">
                Update SAP
              </button>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
