<div class="mycontainer pt-4">
    <div class="row mt-4">
        <div class="col-4 text-right pt-2">
            OHS Risk Assessment
        </div>
        <div class="col-4">
            <select [disabled]="!canEdit()" class="form-control smallinput" [(ngModel)]="ohsitem.OHSRISK">
<option value="">Not Assesed</option>
<option value="0">High</option>
<option value="1">Medium</option>
<option value="2">Low</option>
            </select>
        </div>
        <!-- <div class="col-4">
            <div class="form-check">
                <input  [disabled]="!canEdit()"  class="form-check-input" type="checkbox"  [checked]="ohsitem.notapp">
                <label class="form-check-label">
                    Not Applicable
                </label>
            </div>
        </div> -->
    </div>
    <div class="row mt-2">
        <div class="col-4 text-right pt-2">
            Agreed Risk Assessment
        </div>
        <div class="col-4">
            <select  [disabled]="!canEdit()"  class="form-control smallinput" [(ngModel)]="ohsitem.AGREEDRISK">
                <option value="">Not Assesed</option>
                <option value="0">High</option>
                <option value="1">Medium</option>
                <option value="2">Low</option>
                            </select>
        </div>
        <!-- <div class="col-4">
            <div class="form-check">
                <input  [disabled]="!canEdit()"  class="form-check-input" type="checkbox"  [checked]="ohsitem.notapp">
                <label class="form-check-label">
                    Not Applicable
                </label>
            </div>
        </div> -->
    </div>
    <div class="row mt-2">
        <div class="col-4 text-right pt-2">
            Project Screening
        </div>
        <div class="col-4">
            <select  [disabled]="!canEdit()"  class="form-control smallinput" [(ngModel)]="ohsitem.PROJSCREENING_TXT">
                <option value="">Not Assesed</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                </select>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-right pt-2">
           Project Screen Date
        </div>
        <div class="col-4">
           
                <input  [disabled]="!canEdit()" id="PROJSCREENDATE" class="form-control" type="date" [(ngModel)]="ohsitem.PROJSCREENDATE">         
        </div> 
        <!-- <div class="col-4">
            <div class="form-check">
                <input  [disabled]="!canEdit()" class="form-check-input" type="checkbox"  [checked]="ohsitem.notapp">
                <label class="form-check-label">
                    Not Applicable
                </label>
            </div>
        </div> -->
    </div>
    <div class="row">
        <div class="col-4 text-right pt-2">
           Contractor
        </div>
        <div class="col-4">
           
                <input  [disabled]="!canEdit()" id="Contractor" placeholder="Supplier/Contractor" class="form-control" type="text" [(ngModel)]="ohsitem.SUPPLIER">         
        </div> 
    </div>
    <div class="row mt-2">
        <div class="col-4 text-right pt-2">
            Vendor Vetted
        </div>
        <div class="col-4">
            <select  [disabled]="!canEdit()" class="form-control smallinput" [(ngModel)]="ohsitem.VENDORVETTED_TXT">
                <option value="">Not Assesed</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
      
    </div>
    <div class="row">
        <div class="col-4 text-right pt-2">
          Absa/BFM Direct
        </div>
        <div class="col-4">
           
                <input  [disabled]="!canEdit()" id="Contractor" placeholder="ABSA / BFM Direct?" class="form-control" type="text" [(ngModel)]="ohsitem.DIRECT">         
        </div> 
    </div>
      <div class="row mt-2">
        <div class="col-4 text-right pt-2">
            SWMS/OHS Submitted
        </div>
        <div class="col-4">
            <select  [disabled]="!canEdit()" class="form-control smallinput" [(ngModel)]="ohsitem.SWMS_OHS_REQ_TXT">
                <option value="">Not Assesed</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <!-- <div class="col-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox"  [checked]="ohsitem.SWMS_OHS_NA">
                <label class="form-check-label">
                    Not Applicable
                </label>
            </div>
        </div> -->
    </div>
    <div class="row mt-2">
        <div class="col-4 text-right pt-2">
            SWMS/OHS Approved
        </div>
        <div class="col-4">
            <select  [disabled]="!canEdit()"  class="form-control smallinput" [(ngModel)]="ohsitem.SWMS_OHS_AP_DATE_TXT">
                <option value="">Not Assesed</option>
                <option value="Approved">Approved</option>
                <option value="Not Approved">Not Approved</option>
            </select>
        </div>
        <!-- <div class="col-4">
            <div class="form-check">
                <input [disabled]="!canEdit()"  class="form-check-input" type="checkbox"  [checked]="ohsitem.notapp">
                <label class="form-check-label">
                    Not Applicable
                </label>
            </div>
        </div> -->
    </div>
    <div class="row mt-2">
        <div class="col-4 text-right pt-2">
            ABSA OHS Submission
        </div>
        <div class="col-4">
            <select  [disabled]="!canEdit()"  class="form-control smallinput" [(ngModel)]="ohsitem.ABSA_OHS_SUBMIT_TXT">
                <option value="">Not Assesed</option>
                <option value="Submitted">Submitted</option>
                <option value="Approved">Approved</option>
                <option value="Not Applicable">Not Applicable</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-right pt-2">
            ABSA OHS Submission Date
        </div>
        <div class="col-4">
       
                <input  [disabled]="!canEdit()" id="ABSAOHS" class="form-control" type="date" [(ngModel)]="ohsitem.ABSA_OHS_SUBMIT">         
        </div> 
    </div>
<div class="row mt-2">
    <div class="col-4 text-right pt-2">
        OHS Contact
    </div>
    <div class="col-4">
        <select [disabled]="!canEdit()"  class="form-control" name = 'CONTACT' [(ngModel)]="ohsitem.COMPLIANCE_CONTACT">
            <option *ngFor="let pm of apiserv.pmlist$ | async" [value]="pm.C"> {{pm.D}}</option>
          </select>
    </div>
</div>
<div class="row mt-2">
    <div class="col-4 text-right pt-2">
        OHS Progress
    </div>
    <div class="col-4">
        <select [disabled]="!canEdit()"  class="form-control" name = 'Progress' [(ngModel)]="ohsitem.PROGRESS">
            <option *ngFor="let perc of codes[3].codes" [value]="perc.code">{{ perc.text }}</option>
          </select>
    </div>
</div>

<div class="row mt-2">
    <div class="col-4 text-right pt-2">
        Note
    </div>
    <div class="col-6">
        <textarea  [disabled]="!canEdit()"  class="form-control smallinput" [(ngModel)]="ohsitem.COMMENTS" > 
            </textarea>
    </div>
</div>
<div class="row mt-1">
    <div class="col-12 text-center">
       <button type="button" class="btn btn-sm btn-primary" (click)="updateSAP()"  [disabled]="!canEdit()">Save to SAP</button>
    </div>
</div>
</div>
