<ng-container *ngIf="budgetview">

<table class="table table-bordered" id="projlist">
  <tr>
          <th class="text-center"><small style="font-weight: bold;">Initiative</small>
          </th>
          <th class="text-center"><small style="font-weight: bold;">Execution</small></th>
          <th class="text-center"><small style="font-weight: bold;">Group</small></th>

          <th style="background-color:rgb(114, 171, 251);" class="text-center"><small
                          style="font-weight: bold;">End of Life</small></th>
          <th style="background-color:rgb(114, 171, 251);" class="text-center"><small
                          style="font-weight: bold;">Region</small></th>
          <th style="background-color:rgb(114, 171, 251);" class="text-center"><small
                          style="font-weight: bold;">Province</small></th>
          <th style="background-color:rgb(114, 171, 251);" class="text-center">
                  <small style="font-weight: bold;">Oneview</small>
          </th>
          <th style="background-color:rgb(114, 171, 251);" class="text-center"><small
                          style="font-weight: bold;">Known As</small></th>
          <th style="background-color:rgb(114, 171, 251);" class="text-center"><small
                          style="font-weight: bold;">Title</small></th>
          <th style="background-color:rgb(114, 171, 251);" class="text-center"><small
                          style="font-weight: bold;">Workstream</small></th>
          <th style="background-color:rgb(114, 171, 251);" class="text-center"><small
                          style="font-weight: bold;">Proposed Start</small></th>
          <th style="background-color:rgb(114, 171, 251);" class="text-center"><small
                          style="font-weight: bold;">Proposed End</small></th>
          <th style="background-color:rgb(114, 171, 251);" class="text-center"><small
                          style="font-weight: bold;">Cash Flow</small></th>
          <th style="background-color:rgb(114, 171, 251);" class="text-center"><small
                          style="font-weight: bold;">Opex Capex</small></th>
          <th style="background-color:rgb(114, 171, 251);" class="text-center"><small
                          style="font-weight: bold;">Cip Group</small></th>
          <th style="background-color:rgb(114, 171, 251);" class="text-center"><small
                          style="font-weight: bold;">Cip Code</small></th>
          <th style="background-color:rgb(114, 171, 251);" class="text-center"><small
                          style="font-weight: bold;">Cip Name</small></th>
          <th style="background-color:rgb(114, 171, 251);" class="text-center"><small
                          style="font-weight: bold;">Status</small></th>
          <th style="background-color:rgb(114, 171, 251);" class="text-center"><small
                          style="font-weight: bold;">Value</small></th>
                          <th style="background-color:rgb(114, 171, 251);" class="text-center"><small
                            style="font-weight: bold;">Available</small></th>
          
  </tr>

  <tr >
          <td ><small>{{budgetview.INITIATIVE}}</small></td>
          <td ><small>{{budgetview.EXECUTIONYEAR}}</small>
          </td>
          <td ><small>{{budgetview.BUDGETGROUP}}</small>
          </td>
          <td style="background-color:rgb(114, 171, 251); ">
                  <small>{{budgetview.ENDOFLIFE}}</small></td>

          <td style="background-color:rgb(114, 171, 251);">
                  <small>{{budgetview.REGION}}</small></td>
          <td style="background-color:rgb(114, 171, 251);">
                  <small>{{budgetview.PROVINCE}}</small></td>
          <td style="background-color:rgb(114, 171, 251);">
                  <small>{{budgetview.ONEVIEW}}</small></td>
          <td style="background-color:rgb(114, 171, 251);">
                  <small>{{budgetview.KNOWNAS}}</small></td>
          <td style="background-color:rgb(114, 171, 251);">
                  <small>{{budgetview.TITLE}}</small></td>
          <td style="background-color:rgb(114, 171, 251);">
                  <small>{{budgetview.WORKSTREAM}}</small></td>
          <td style="background-color:rgb(114, 171, 251);">
                  <small>{{budgetview.PROPSTARTDATE}}</small></td>
          <td style="background-color:rgb(114, 171, 251);">
                  <small>{{budgetview.PROPENDDATE}}</small></td>
          <td style="background-color:rgb(114, 171, 251);">
                  <small>{{budgetview.CASHFLOWDATE}}</small></td>
          <td style="background-color:rgb(114, 171, 251);">
                  <small>{{budgetview.OPEX_CAPEX}}</small></td>
          <td style="background-color:rgb(114, 171, 251);">
                  <small>{{budgetview.CIPGROUP}}</small></td>
          <td style="background-color:rgb(114, 171, 251);">
                  <small>{{budgetview.CIPCODE}}</small></td>
          <td style="background-color:rgb(114, 171, 251);">
                  <small>{{budgetview.CIPNAME}}</small></td>
          <td style="background-color:rgb(114, 171, 251);">
                  <small>{{budgetview.STATUS}}</small></td>
          <td style="background-color:rgb(114, 171, 251);">
                  <small>{{apiserv.formatString(budgetview.BASE_VALUE.toLocaleString())}}</small></td>
                  <td style="background-color:rgb(114, 171, 251);">
                    <small>{{apiserv.formatString(budgetview.AVAILABLE_VALUE.toLocaleString())}}</small></td>
       
  </tr>
</table>

</ng-container>
<ng-container *ngIf="ciplineadjs.length > 0">

</ng-container>
  <table class="table">
   <tr>
    <th>Document </th>
    <th>Entry Code </th>
    <th>Partner Obj </th>
    <th>Short Comment </th>
    <th>Posting Date </th>
    <th>Entry Date </th>
    <th>Value </th>
   </tr> 
    <tr *ngFor="let added of ciplineadjs">
      <td>{{added.DOCNO}} </td>
      <td>{{added.ENTRYCODE}} </td>
      <td>{{added.PROJLINK || added.PARTNER_ID}}</td>
      <td>{{added.SHORTCOMMENT}} </td>
      <td>{{added.POSTINGDATE}}</td>
      <td>{{added.ENTRYDATE}}</td>
      <td>{{apiserv.formatString(added.VALUEOF.toLocaleString())}}</td>
    </tr>

  </table>
    <div class="row">
      <div class="col-6 offset-1">
        <div class="card pl-4 pr-4 pt-4">
         
            <!-- <div class="row mt-2">
              <div class="col-3 offset-1">
                <span>Program</span>
              </div>

              <div class="col-6">
                <select [(ngModel)]="docheader.program" (selectionChange)="onGroupSelect()" placeholder="Select a Line"
                  class="form-control">
                  <option *ngFor="let groupoption of apiserv.cipgroups" [value]="groupoption.code">
                    {{groupoption.text }}
                  </option>
                </select>
              </div>
            </div> -->

            <div class="row mt-2">
              <div class="col-3 offset-1">
                <span>Initiative</span>
              </div>

              <div class="col-6">
                <input [(ngModel)]="budgetview.INITIATIVE" [disabled]="true"
                  class="form-control">                 
              </div>
            </div>
            <!-- <div class="row mt-2">
              <div class="col-3 offset-1">
                <span>Funding Line From</span>
              </div>

              <div class="col-6">
                <input [(ngModel)]="docheader.impositionof" (selectionChange)="onGroupSelect()" placeholder="Select a Line"
                  class="form-control" />
              </div>
            </div> -->
            <div class="row mt-2">
              <div class="col-3 offset-1">
                <span>Entry Code</span>
              </div> 

              <div class="col-6">
                <select [(ngModel)]="docheader.ENTRYCODE" (selectionChange)="onGroupSelect()" placeholder="Select a Line"
                  class="form-control">
                  <option value="UNDERSPEND">Under Spend</option>
                  <option value="CANCELLED">Cancel</option>
                  <!-- <option value="SURRENDER">Surrender</option> -->
                  <option value="REALLOCATE">Re Allocate</option>
                  <option value="ALLOCATED">Allocate to Project</option>
                  <option value="RETURN">Return from Project</option>
                  <option value="DEFERRED">Deferral</option>
                 
                </select>
              </div>
            </div>
            <ng-container *ngIf="docheader.ENTRYCODE =='REALLOCATE' || docheader.ENTRYCODE =='UNDERSPEND' 
              || docheader.ENTRYCODE =='CANCELLED' || docheader.ENTRYCODE =='DEFERRED' ">
              <div class="row mt-2">
                <div class="col-3 offset-1">
                  <span>Absa Agreement</span>
                </div>
  
                <div class="col-6">
                  <select [(ngModel)]="docheader.AGREEMENT" (selectionChange)="onGroupSelect()" placeholder="Select a Line"
                  class="form-control">
                  <option value="">Please Select</option>
                  <option value="U">Not Required</option>
                  <option value="Y">Agreement - See Note</option>
                </select>
                </div>
              </div>
              <!-- <div class="row mt-2">
                <div class="col-3 offset-1">
                  <span>Region</span>
                </div>
  
                <div class="col-6">
                  <input class="form-control" [(ngModel)]="docheader.REGION"  class="form-control">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-3 offset-1">
                  <span>Oneview</span>
                </div>
  
                <div class="col-6">
                  <input class="form-control" [(ngModel)]="docheader.ONEVIEW"  class="form-control">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-3 offset-1">
                  <span>Cip Group</span>
                </div>
  
                <div class="col-6">
                  <input type="text" class="form-control" [(ngModel)]="docheader.CIPGROUP">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-3 offset-1">
                  <span>Cip Code</span>
                </div>
  
                <div class="col-6">
                  <input class="form-control" [(ngModel)]="docheader.CIPCODE"  class="form-control">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-3 offset-1">
                  <span>Category</span>
                </div>
  
                <div class="col-6">
                  <input type="text" class="form-control" name="category" [(ngModel)]="docheader.CATEGORY">
                </div>
              </div> -->
              <div class="row mt-2">
                <div class="col-3 offset-1">
                  <span>Reallocate to</span>
                </div>
  
                <div class="col-3">
                  <input type = "text" [(ngModel)]="docheader.PARTNERID"
                    class="form-control">
                  <!--    <option value="1">To be added</option>
                    (selectionChange)="onGroupSelect()" placeholder="Select a Line"
                   <option *ngFor="let fundoption of apiserv.cipfundlines$ | async" [value]="fundoption.lineout">
                          {{fundoption.lineout }}
                        </option> 
                  </select>-->
                </div>
                <div class="col-3"><button type = "button" [disabled] = "true" class="btn btn-sm btn-warning" (click)="findDestination()">Find Destination</button></div>
              </div>
            </ng-container>
            <div class="row mt-2">
              <div class="col-3 offset-1">
                <span>Short Description</span>
              </div>

              <div class="col-6">
                <input class="form-control" [(ngModel)]="docheader.TITLE"  class="form-control">
              </div>
            </div>
          <ng-container *ngIf="docheader.ENTRYCODE =='ALLOCATE' || docheader.ENTRYCODE =='RETURN'">
            <div class="row mt-2">
              <div class="col-3 offset-1">
                <span>Allocate to Project</span>
              </div>

              <div class="col-6">
                <input class="form-control" [(ngModel)]="docheader.PROJLINK"  class="form-control">
              </div>
            </div>
          </ng-container>
            <div class="row mt-2">
              <div class="col-3 offset-1">
                <span>Amount</span>
              </div>

              <div class="col-4">
                <input type="number" class="form-control" [(ngModel)]="docheader.VALUEOF">
              </div>
              <div class="col-2">
                <mat-checkbox class="full-width " name="vatincl"
                [(ngModel)]="docheader.VATINCL">
               Vat Inclusive
              </mat-checkbox>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-3 offset-1">
                <div>Posting Date</div>
                <div><small>(Entry Date is today)</small></div>
              </div>

              <div class="col-6">
                <input type="date" class="form-control" [(ngModel)]="docheader.POSTINGDATE">
              </div>
            </div>
          
            <div class="row mt-2">
              <div class="col-3 offset-1">
                <span>Note</span>
              </div>

              <div class="col-6">
                <textarea class="form-control" [(ngModel)]="docheader.NOTE"></textarea>
              </div>
            </div>
      
        </div>
        <!-- <div class="card-footer d-flex justify-content-center">
          <button type="button" class="btn btn-sm btn-outline-primary mr-4" [disabled]="docheader.VALUEOF == 0">Save</button>
          <button type="button" class="btn btn-sm btn-outline-danger ml-4">Reset</button>

        </div> -->
      </div>
      <div class="col-4">
        <button type = "button" class="btn btn-sm btn-outline-success" (click)="showHelp()">{{helpbtntext}}</button>
        <ng-container *ngIf="help">
      <quill-view [content]="helptext"></quill-view>
    </ng-container>
      </div>
    </div>
    <div class="row d-flex justify-content-around mt-3">
      <button type="button" 
      [disabled]="!checkValue(docheader)"
      class="btn btn-sm btn-primary" (click)="onSubmit()">Update SAP</button>
      <button type="button" 
      class="btn btn-sm btn-danger" (click)="closejw('cipline')">Close</button>
  <!-- <div *ngIf="funding"><span>Amount Claimed {{amountclaimed}}</span></div> -->
  </div>





<!-- <div class="row">
  <div class="col-4 d-flex justify-content-around">
    <button type = "button" class="btn btn-sm btn-primary">btn1</button>
  </div>
  <div class="col-4 d-flex justify-content-around">
    <button type = "button" class="btn btn-sm btn-primary">btn1</button>
  </div>
  <div class="col-4 d-flex justify-content-around">
    <button type = "button" class="btn btn-sm btn-primary">btn1</button>
  </div>
</div> -->
<jw-modal id="fundfinder">
  <app-fund-finder></app-fund-finder>
</jw-modal>