<div class="container">


    <div class="row">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary-outline ">
                <input type="radio" name="options" id="option1" value="progress" [(ngModel)]="section"> Progress
            </label>
            <label class="ml-4 btn btn-primary-outline">
                <input type="radio" name="options" id="option2" value="dates" [(ngModel)]="section"> Dates
            </label>
            <label class="ml-4 btn btn-primary-outline">
                <input type="radio" name="options" id="option2" value="approval" [(ngModel)]="section"> Approvals
            </label>
            <label class="ml-4 btn btn-primary-outline">
                <input type="radio" name="options" id="option2" value="funding" [(ngModel)]="section"> Funding
            </label>
            <label class="ml-4 btn btn-primary-outline">
                <input type="radio" name="options" id="option2" value="location" [(ngModel)]="section"> Location
            </label>
            <label class="ml-4 btn btn-primary-outline">
                <input type="radio" name="options" id="option2" value="cipdates" [(ngModel)]="section"> Initiative
                Forecasts
            </label>
            <label class="ml-4 btn btn-primary-outline">
                <input type="radio" name="options" id="option2" value="ponumber" [(ngModel)]="section"> PO Numbers
            </label>
        </div>
    </div>
    <div class="row">
        <div>Cut and Paste:</div>
        <textarea class="form-control" rows="5" [(ngModel)]="importarea"></textarea>
        <div class="d-flex justify-content-around">
            <button [disabled]="!readytoimport" class="btn btn-sm btn-primary" type="button"
                (click)="importData()">Import</button>
            <button class="btn btn-sm btn-success ml-4" type="button" (click)="Helpimport = true">Help?</button>
        </div>
        <div *ngIf="Helpimport" style="background-color: coral;">
            <h3>Copy from Excel with Columns</h3>
            <ng-container *ngIf="section=='dates'">
                <h4> Date Format is Critical</h4>
                <ul>
                    <li>Project - ASP-XXXXX </li>
                    <li>Initiation with Stakeholders In yyyy-mm-dd format </li>
                    <li>Costing and DD In yyyy-mm-dd format </li>
                    <li>Client Approval In yyyy-mm-dd format </li>
                    <li>Approval Board In yyyy-mm-dd format </li>
                    <li>Lead Time In yyyy-mm-dd format </li>
                    <li>On Site In yyyy-mm-dd format </li>
                    <li>Proof of Completion In yyyy-mm-dd format </li>
                    <li>Billing Process In yyyy-mm-dd format </li>
                    <li>Asset Sheet In yyyy-mm-dd format </li>
                    <li>Final Accounts In yyyy-mm-dd format </li>
                    <li>Expected Cash Flow Date In yyyy-mm-dd format </li>
                </ul>
            </ng-container>
            <ng-container *ngIf="section=='progress'">
                <h4> Date Format is Critical</h4>
                <ul>
                    <li>Project - ASP-XXXXX </li>
                    <li>Initiation with Stakeholders -0,20,60,80,100 </li>
                    <li>Costing and DD -0,20,60,80,100 </li>
                    <li>Client Approval - 0,50,100</li>
                    <li>Approval Board -0,40,60,100</li>
                    <li>Lead Time -0,50,100 </li>
                    <li>On Site 0,20,40,60,80,100 </li>
                    <li>Proof of Completion - 0,100 </li>
                    <li>Billing Process - 0, 60, 100</li>
                    <li>Asset Sheet - 0, 60, 100</li>
                    <li>Final Account - 0, 60, 100</li>
                    <li>Expected Cash Flow Date - 0,100 </li>
                </ul>
            </ng-container>
            <ng-container *ngIf="section=='funding'">
                <h4> Date Format is Critical</h4>
                <ul>
                    <li>Project - ASP-XXXXX </li>
                    <li>Budget Group - CIP2023, ROL2022, OPEX, Unknown </li>
                    <li>Cipgroup -PR/1, PR/3 </li>
                    <li>Cipname - CORP-Fabric - Other, Fabric - Other </li>
                    <li>Cipcode - PR/1/02, PR/3/03</li>
                    <li>Workstream Fabric: Corporate, Fabric: Retail</li>
                    <li>Basebudget (Estimate) </li>
                </ul>
            </ng-container>
            <ng-container *ngIf="section=='approval'">
                <h4> Date Format is Critical</h4>
                <ul>
                    <li>Project - ASP-XXXXX </li>
                    <li>Approval_Date In yyyy-mm-dd format </li>
                    <li>Approved_Amt</li>
                    <li>PO Number </li>
                    <li>Cipcode</li>
                    <li>Approval_Motivate </li>
                    <li>Approval_Status </li>


                </ul>
            </ng-container>
            <ng-container *ngIf="section=='ponumber'">
                <h4> Date Format is Critical</h4>
                <ul>
                    <li>PO Number </li>
                    <li>PO Reference</li>
                    <li>PO Date In yyyy-mm-dd format </li>
                    <li>Project Number </li>
                    <li>Value Excl Vat</li>
                   
                </ul>
            </ng-container>
            <ng-container *ngIf="section=='location'">
                <h4> Date Format is Critical</h4>
                <ul>
                    <li>Project - ASP-XXXXX </li>

                    <li>Region - Region 1, Region 2, Region 3 , National, Energy</li>
                    <li>Province</li>
                    <li>Oneview - 12345X </li>
                    <li>End of Life y/n </li>
                    <li>Leased / Freehold LEASE, FREEHOLD </li>
                    <li>Lease End_Date In yyyy-mm-dd format </li>

                </ul>
            </ng-container>
            <ng-container *ngIf="section=='cipdates'">
                <h4> Date Format is Critical</h4>
                <ul>
                    <li>Initiative Number 23xx </li>
                    <li>Forecast Start_Date In yyyy-mm-dd format </li>
                    <li>Forecast End_Date In yyyy-mm-dd format </li>
                    <li>Cashflow_Forecast_Date In yyyy-mm-dd format </li>
                </ul>
            </ng-container>
            <div class="text-center">
                <button type="button" class="btn btn-sm btn-success" (click)="Helpimport = false">Close this
                    help</button>
            </div>
        </div>
    </div>
</div>